# =========================
# Environment
# =========================
.env
.venv/
venv/
env/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

tools/__pycache__/

# =========================
# Data (IMPORTANT)
# =========================
datasets/
outputs/
*.csv
*.xlsx
*.json

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db